<% include partials/header %> <!-- includes header from partial directory  -->
<h1>This is the home page</h1>

<img src = "https://www.petwave.com/-/media/Images/Center/Care-and-Nutrition/Dog/Puppy/Puppies-in-Basket.ashx">

<% include partials/footer %> <!-- includes footer from partial directory  -->