<!DOCTYPE html>
<html>
    <head>
        <title>Demo App</title>
        <link rel="stylesheet" href="/app.css"> <!-- "/" looks for app.css in root directory and not in current directory -->
    </head>
    <body>